@import "colors.css";

@define-color background darker(@base00);                                                                                             
@define-color foreground lighter(@base07);

.control-center {
  border: 2px solid @background;
  font-family: "JetBrainsMono Nerd Font Propo", "Noto Sans", monospace;
}

.notification-group {
  background: transparent;
}

.summary {
  padding: 0.5rem 0 1rem 0;
}
.time {
  padding: 0.5rem 1rem 0 0;
  font-size: 11px;
}
.body {
  padding: 0.5rem 0 0.5rem 0;
}
