@import "../../.cache/wal/colors-waybar.css";

.control-center {
  /* The Control Center which contains the old notifications + widgets */
  background: alpha(@background, 0.6);
  color: @foreground;
  border: solid;
  border-width: 2px;
  border-color: @background;
}

.notification-group {
  background: transparent;
}

.notification {
  border: solid 2px @background;
  color: @foreground;
}

.widget-title button {
  border: solid 2px @background;
  color: @foreground;
}

.widget-dnd label {
  color: @foreground;
}

.widget-dnd slider {
  background: @color2;
}

.widget-dnd switch {
  background: alpha(darker(@background), 0.6);
  border: solid 2px @background;
}

.widget-dnd switch:checked {
  background: darker(@color2);
}

.widget-volume {
  background-color: transparent;
}

.widget-volume trough highlight, .widget-backlight trough highlight {
  background: @color2;
  padding: 5px;
}

.widget-volume trough, .widget-backlight trough {
  border: solid 2px @background;
  background: alpha(darker(@background), 0.6);
}

.widget-volume slider, .widget-backlight slider {
  background: transparent;
}



