*
!.gitignore
!fish/
!fish/config.fish
!kitty/
!kitty/**
!niri/
!niri/**
!nvim/
!nvim/init.lua
!swaync/
!swaync/**
!waybar/
!waybar/**
!wofi/
!wofi/**
!matugen/
!matugen/**
!tmux/
!tmux/**
!gtk-3.0/
!gtk-3.0/**
!gtk-4.0/
!gtk-4.0/**
