@import "colors.css";

@define-color background darker(@base00);
@define-color foreground lighter(@base07);

#waybar{
  background: transparent;
  border: none;
  font-family: "JetBrainsMono Nerd Font Propo", "Noto Sans", monospace;
  font-size: 20px;
}



.modules-left, .modules-center, .modules-right {
  margin: 0 0 0.5rem 0;
}



#image.niri, #whoami, #tray, #keyboard, #networking, #sound, #language, #power, #clock, #swaync, #custom-pkg {
  border-radius: 1.5em;
  background-color: alpha(@background, 0.6);
  color: @foreground;
  padding: 0 0.5em 0 0.5em;
  margin: 0 0.5em 0 0.5em;
  border: solid;
  border-width: 2px;
  border-color: @background;
}

#image.niri:hover, #whoami:hover, #keyboard:hover, #networking:hover, #sound:hover, #language:hover, #power:hover, #clock:hover, #swaync:hover, #custom-pkg:hover {
  background-color: alpha(lighter(@background), 0.6)
}



#custom-pkg, #custom-notification, #wireplumber.sink, #wireplumber.source, #network, #bluetooth, #battery, #power-profiles-daemon, #backlight, #keyboard-state {
  padding: 0 0.7em 0 0.7em;
}



#battery {
  color: mix(@foreground, blue, 0.4);
}

#battery.charging {
  color: mix(@foreground, green, 0.4);
}

#battery.warning {
  color: mix(@foreground, yellow, 0.4);
}

#battery.critical {
  color: mix(@foreground, red, 0.4);
}


